label[for="root_arkitektur"]::after,
label[for="root_arkitektur_tekst"]::after,
label[for="root_kulturhistorie"]::after,
label[for="root_kulturhistorie_tekst"]::after,
label[for="root_miljoe"]::after,
label[for="root_miljoe_tekst"]::after,
label[for="root_originalitet"]::after,
label[for="root_tilstand"]::after,
label[for="root_registreringsstatus"]::after,
label[for="root_registreringsomfang"]::after,
label[for="root_bevaringsvaerdi"]::after,
root_bevaringsvaerdi
#root_foto_fra_vej__title h5::after
{
    content: " *";
    color: red;
}

label[for="root_bygningsnummer"]::after,
label[for="root_adgangsadr"]::after,
label[for="root_postnummer"]::after,
label[for="root_postdistrikt"]::after,
label[for="root_opfoerelsesaar"]::after,
label[for="root_omtilbygningsaar"]::after,
label[for="root_byganvendelse"]::after,
label[for="root_tagdaekning"]::after,
label[for="root_ydervaegge"]::after
{
    content: " ℹ";
    color: #0d6efd;
}

label[for="root_registreringsdato"]::after,
label[for="root_registrator"]::after {
    content: "⚙";
    color: #6c757d;
    margin-left: 6px;
    font-size: 0.9em;
}


#offcanvas-edit-bottom {
    height: 100vh !important;
    /* z-index: 1000; */
    z-index: 9999;
}
